
/* 로그인 페이지 */

.backwrap {
    height: 710px;
    background-color: #537f46;
}

.mainform {
    position: relative;
    top: 250px;
    left: 600px;
}

.container {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }

.authContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

.authBtns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
  }

.authBtn {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
    width: 150px;
    background: white;
    cursor: pointer;
  }

.authInput {
    max-width: 320px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    font-size: 12px;
    color: black;
  }
  
  .authSubmit {
    text-align: center;
    background: #04aaff;
    color: white;
    margin-top: 10;
    cursor: pointer;
  }

  .authSwitch {
    color: #04aaff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    font-size: 12px;
    text-decoration: underline;
  }