/* Notice.js 부분 css */
@font-face{
    font-family: goldenpier;
    src:url('./fonts/MapoGoldenPier.ttf');
}

/* 헤더 아래에 middle이 필요해서 추가해줌 */
.middle{
    background-color : var(--background-color);
    position: relative;
    right:10vw;
    top : 25vh;
    display: flex;
    justify-content: center;
    width : 92vw;
    height : 70vh;
    
}

.board{
    /* font-family: 'goldenpier', serif; */
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 500px;
    display: grid;
 
}

.board_detail{
    font-family: 'goldenpier', serif;
    color:white;
    display: grid;
    /* 제목, 날짜가 길어지면 사이가 길어짐; */
    grid-template-columns: 400% 100%;

    line-height: 40px;
}

.board_detail  li a {
    font-family: 'goldenpier', serif;
    color:white;

}

.board_date{
    text-align: center;
    font-family: 'goldenpier', serif;
}

/* Notice.js 부분 css */

.paging_div{
    position: relative;
    top: 10px;
    left: 200px;
    border-top: solid 1px #ababab;
    display: grid;
    grid-template-columns: 100% 50% 50%;
    text-align: center;

    
}

.page_num {	
    color: black;	
    margin-right: 20px;	
    list-style: none;	
    display : inline-block;	
    cursor: pointer;	
}


