/* 뒤에 배경크기와 색깔을 설정*/
.half_bgs{
    z-index: 1;
    position : relative;
    flex-direction: column;
    left : 7vw;
    width : 92vw;
    height: 85vh;
    background-color:  #537f46;
    display : flex;
}

.Rlogo{
    position: relative;
    display : inline;
    left : 10vw;   
}
:root{
    --text-color: #f0f4f5;
    --background-color: #28421f;
    --header-background: #ffffff;
    --main-color: #537f46;
}
.header{
    position : relative;
    top : 12vh;
    display: flex;
    width : 92vw;
    height : 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
}
.section {
    background-color : var(--background-color);
    width : 92vw;
    height : inherit;
    position : relative;
    top : -20vh;
}
.whiteselect { 
    z-index: 1;
    background-color : white;
    width : 80vw;
    height : 45vh;
    border-top-left-radius : 40px;
    border-top-right-radius : 40px;
    border-bottom-right-radius: 40px;
    position : relative;
    left : 2vw;
    bottom : -28vh;
}
.nav{
    display: flex;
    padding-left: 0;
}
.nav li{
    padding-left: 0;
    padding-right: 0;
    padding: 8px 12px;
}
.nav li:hover{
    background-color: var(--main-color);
    border-radius: 8px;
}
.login{
    padding-left: 0;
    padding-right: 0;
    padding: 8px 12px;    
}
.menubtn{
    display: none;
    width: 24px;
    height: 24px;
    color: var(--main-color);
    position: absolute;
    right: 20px;
}

.vegetarianbtn {
    width : 60vw;
    position : relative;
    left : 8vw;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.originalbtn {
    width : 70vw;
    position : relative;
    left : 5vw;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

/* Register.js 부분 css */

/* 헤더 아래에 middle이 필요해서 추가해줌 */
.middle{
    position: relative;
    top : 25vh;
    display: flex;
    width : 92vw;
    height : 70vh;
    
}

.Write{
    padding: 20px;
    position: relative;
    left: 65px;
   
}

.title_txt{
    width: 80vw;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

.content_txt{
    position: relative;
    left: 85px;
    border: none;
    resize: none;
    width:80vw;
    height: 80vh;
}

.registerbtn{
    position: relative;
    left : 1200px;

    width:10vw;
    height:5vh;

}

/* Register.js 부분 css */

/* Notice.js 부분 css */
.board{
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 500px;

    display: grid;
 
}

.board_detail{
   
    color:white;

    display: grid;
    /* 제목, 조회수 , 날짜가 길어지면 사이가 길어짐; */
    grid-template-columns: 400% 100%;

    line-height: 40px;
}

.board_date{
    text-align: center;
}

/* Notice.js 부분 css */



@media screen and (max-width: 768px){
    .nav{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 8px 24px;
    }

    .header{
        flex-direction: column;
        align-items: center;
    }

    .nav li {
        padding-left: 0;
        width: 100%;
        text-align: center;    
    }
    .login{
        position: absolute;
        top: 50px;
        right: 20px;
        /* display: none; */
    }
    .menubtn{
        display: block;
    }
    /* 로그인 네비바 부분이 활성화 되었을때(클릭 시) */
    .login.active,
    .nav.active{
        display: flex;
    }

}

