/* Notice.js 부분 css */
@font-face{
    font-family: goldenpier;
    src:url('../fonts/MapoGoldenPier.ttf');
}

/* 헤더 아래에 middle이 필요해서 추가해줌 */
.middle{
    z-index: 1;
    background-color : var(--background-color);
    position: absolute;
    top : 40vh;
    display: flex;
    width : 91vw;
    height : 77vh;
    
}

.middlewh{
    /* 미들 안에 있는 회색 네모 (하얀색 나중에 바꿀꺼임) */
    border-top-left-radius : 40px;
    position : relative;
     bottom : 1vh; 
    left : 20vh;
    z-index: 1;
    background-color: white;
    width : 70vw;
    height : 80%;
}

.board{
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 500px;
    display: grid;
 
}



.board_detail{
    font-family: 'goldenpier', serif;
    color:black;
    display: grid;
    /* 제목, 날짜가 길어지면 사이가 길어짐; */
    grid-template-columns: 60% 40%;
    line-height: 40px;
}

.board li {
    line-height: 40px;
    /* margin-left: 50px ; */
    font-size : 20px;
}

.board li a{
    line-height: 40px;
    font-size : 20px;
}

.board_content{
    margin-left : 50px;
}

.board_date{
    margin-right: 50px;
    text-align: right;
    font-family: 'goldenpier', serif;
    font-size: 20px;
}


/* Notice.js 부분 css */

.titlendate {
    margin-top: 15px;
    margin-left: 50px;
    margin-right : 50px;
    margin-bottom: 20px;
    font-family: 'goldenpier', serif;
    /* font-weight: bold; */
    color : black;
    font-size: 20px;

}

.paging_section {
    margin : 15px;
}

.paging_div{
    position: relative;
    margin : 10px;
    top: 10px;
    /* left: 200px; */
    border-top: solid 3px #28421f;
    display: grid;
    grid-template-columns: 100% 50% 50%;
    text-align: center;   
}

.page_num {	
    color: black;
    font-family: 'goldenpier', serif;
	font-size: 1.1em;
    margin-right: 20px;	
    list-style: none;	
    display : inline-block;	
    cursor: pointer;	
}

.page_num li a {
    color : black;
    font-family: 'goldenpier', serif;

}

.register {
    color : black;
    margin-left: 10px;
    font-family: 'goldenpier', serif;
    cursor : pointer;
    text-align: right;
}

.leaf {
    z-index: 3;
    position: absolute;
}

#n1 {
    width: 20vw;
    height: 15vh;
    top: 20vh;
    left: -4vw;
}

#n2 {
    top: 24vh;
    width: 10vw;
    height: 10vh;
    left: 88vw;
}

#n3 {
    top: 60vh;
    width: 16vw;
    height: 30vh;
    left: -4vw;
}


