/* 해당 css는 RecipeView자바스크립트 화면을 위한 css입니다. */
/* 현재 css 분리작업 진행하고있습니다. 곧 터질 예정. */

@font-face{
    font-family: goldenpier;
    src:url('../fonts/MapoGoldenPier.ttf');    
}

.whitealign {
    /* 하얀색 배경에서 그림, 선, 정보를 정렬할때 사용된 클래스 */
    width : 72vw;
    height : 45vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.information {
    /* 레시피의 기본정보들을 배열할 때 쓰는 클래스 */
    font-family: 'goldenpier', serif;   
    margin: 10px; 
    position: relative;
    display: flex;
    width: 1300px;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 3.3em;
    margin-bottom: 15px;
}

.ingredient {
    font-size: 1.5em;
    line-height: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.tagnhow {
    font-size: 1.5em;
}

.content {
    margin-left: 20px;
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.DGwhite {
    font-family: 'goldenpier', serif;   

    z-index: 1;
    position: relative;
    display: flex;
    background-color: white;
    width : 72vw;
    height: inherit;
    left : 9vw;
    flex-direction: column;
}

.underspace {
    z-index: 2;
    top :-30vh;
    background-color :  #28421f;
    width : 92vw;
    height : 5vh;
    position : relative;
    display : flex;
}