/* 뒤에 배경크기와 색깔을 설정*/
@font-face{
    font-family: goldenpier;
    src:url('../fonts/MapoGoldenPier.ttf');    
}

.half_bgs{
    /* 메뉴바CSS로 이전완료 */
    z-index: 1;
    position : relative;
    flex-direction: column;
    left : 7vw;    
    width : 92vw;
    height: 85vh;
    background-color:  #537f46;
    display : flex;
}

.Rlogo{
    /* 메뉴바CSS로 이전완료 */
    /* 로고 위치 지정 */
    position: relative;
    display : inline;
    left : 60px;   
}
:root{
    --text-color: #f0f4f5;
    --background-color: #28421f;
    --header-background: #ffffff;
    --main-color: #537f46;
}
.header{
    /* 메뉴바CSS로 이전완료 */
    position : relative;
    top : 90px;
    display: flex;
    width : 100%;
    height : 60px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    margin-left: auto;
    margin-right: auto;
}

/* 삭제예정 */
/* .testing{
    background-color: red;
    height: "1000px";
} */

.space {
    /* 메뉴바CSS로 이전완료 */
    /* 상자간 겹침에 따른 오차 때문에 생성한 네모 */
    background-color : var(--background-color);
    width : 92vw;
    height : 30vh;
    position : relative;
    top : -20vh;
    display : flex;
}
.section {
    /* 메뉴바CSS로 이전완료 */
    /* 그냥 뒤에 진한 초록색배경 */
    z-index: 1;
    background-color : var(--background-color);
    width : 92vw;
    height : 150%;
    top : -30vh;
    position : relative;
    display: inline-flex;
    
}

.sectionplace {
    /* 진한초록배경 앞에 위치해서 레시피들 정렬하는 클래스 */
    position : relative;
    margin-top: 1vh;
    margin-bottom: 15vh;
    left : 8.5vw;
    font-family: 'goldenpier', serif;
    display : inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.result {
    /* 결과 레시피들을 각각 감싸는 하얀색 네모 */
    padding  : 0.5vw;
    margin : 1vw;
    z-index: 2;
    background-color:white;
    position : relative;
    width : 335px;
    height : 460px;
    border-bottom-right-radius: 40px; 
    border-bottom-left-radius: 40px; 

   /*틀에 맞춰서 정보를 보여줌 넘치는건 hidden*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
}


.whiteselect { 
    /* 메뉴바CSS로 이전완료 */
    /* 사용자들이 직접 선택할 수 있는 버튼이 있는 하얀 박스 */
    z-index: 1;
    background-color : white;
    width : 80vw;
    height : 45vh;
    border-top-left-radius : 40px;
    border-top-right-radius : 40px;
    border-bottom-right-radius: 40px;
    position : relative;
    left : 2vw;
    bottom : -28vh;
}

.Rtitle {
    /* result에 있는 레시피들의 이름 크기 설정 */
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;

    
}

.Rhash {
    /* 이름 밑에 있는 해시태그, 조리방법 글씨 크기 설정 */
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
/* 비건 단계 버튼에 그림자 효과 */
.vegetarianbtn :hover {            
    filter: saturate(150%) drop-shadow(5px 5px 5px #CCCCCC);
    transition-duration: 0.5s;
}
.nav{
    display: flex;
    padding-left: 0;
    cursor: pointer              
}


.nav li{   
    padding: 0;    
    font-family: 'goldenpier', serif;    
    font-size : 1.5em;
    margin-left: 18px;
    font-weight: bold;
    position : relative;
    margin: 28px;    
    right : 6.6vw;    
    transition:all .3s ease
}

/* .nav li:hover{
    background-color: var(--main-color);
    border-radius: 8px;

} */

.nav :hover, .login :hover { color:var(--main-color); transition:all .4s ease }

.nav li ::after, .login ::after {
    content: '';
    width: 0%;
    left: 50%;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 2px;
    border-bottom: 3px solid var(--main-color);
    transition:all .4s ease;
  }

.nav li:hover ::after, .login:hover ::after {
    content: '';
    width: 100%;
    left: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 2px;
    color: var(--text-color);
    border-bottom: 3px solid var(--main-color);
    transition:all .4s ease;
}

.login{
    font-family: 'goldenpier', serif;
    font-size : 1.3em;
    color: black;
    position : relative;
    right : 10vw;    
    font-weight: bold;
    transition:all .3s ease
}

/* 삭제예정 */
/* .menubtn{
    display: none;
    width: 24px;
    height: 24px;
    color: var(--main-color);
    position: absolute;
    right: 20px;
} */

.ingredientbtn {
    /* 재료 버튼을 감싸고 있는 큰 클래스. 배열을 위해 존재함. */
    width : 906px;
    position : relative;
    top : 3vh;
    left: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vegetarianbtn {
    /* 채식 버튼을 감싸고 있는 큰 클래스. 배열을 위해 존재함. */
    width : 1150px;
    position : relative;
    top : 1.5vh;
    left : 8vw;
    display : flex;
    justify-content: space-between;
    align-items: center;
}


.hashtagbtn {
    /* 해시태그 버튼을 감싸고 있는 큰 클래스. 배열을 위해 존재함. */
    width: 815px;
    position : relative;
    top : -2.5vh;
    left : 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vegetarianbtn:hover {
    cursor: pointer;
}

.map {
    font-family: 'goldenpier', serif;
}

.page_num {
    color: black;
    margin-right: 20px;
    list-style: none;
    display : inline-block;
    cursor: pointer;
}

@media screen and (max-width: 1065px){
    .logo_img{
        position: relative;                
        display : inline;                   
    }
    .nav{
    
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 8px 24px;
    }

    .header{
        /* flex-direction: column; */
        align-items: center;
    }

    .nav li {
        padding-left: 0;
        width: 100%;
        text-align: center;    
    }
    .login{   
        flex-direction: column;     
    }
    .menubtn{
        display: block;
    }
    /* 로그인 네비바 부분이 활성화 되었을때(클릭 시) */
    .login.active,
    .nav.active{
        display: flex;
    }

}

