/* 뒤에 배경크기와 색깔을 설정*/
@font-face{
    font-family: goldenpier;
    src:url('../fonts/MapoGoldenPier.ttf');    
}

.half_bgs{
    /* 메뉴바CSS로 이전완료 */
    z-index: 1;
    position : relative;
    flex-direction: column;
    left : 7vw;    
    width : 92vw;
    height: 85vh;
    background-color:  #537f46;
    display : flex;
}

.Rlogo{
    /* 메뉴바CSS로 이전완료 */
    /* 로고 위치 지정 */
    position: relative;
    display : inline;
    left : 60px;   
}
:root{
    --text-color: #f0f4f5;
    --background-color: #28421f;
    --header-background: #ffffff;
    --main-color: #537f46;
}

/* 삭제예정 */
/* .testing{
    background-color: red;
    height: "1000px";
} */


.sectionplace {
    /* 진한초록배경 앞에 위치해서 레시피들 정렬하는 클래스 */
    position : relative;
    width : 92%;
    margin-top: 1vh;
    margin-bottom: 15vh;
    left : 7vw;
    font-family: 'goldenpier', serif;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}


.result {
    /* 결과 레시피들을 각각 감싸는 하얀색 네모 */
    padding  : 0.5vw;
    margin : 1vw;
    z-index: 2;
    background-color:white;
    position : relative;
    width : 335px;
    height : 460px;
    border-bottom-right-radius: 40px; 
    border-bottom-left-radius: 40px; 

   /*틀에 맞춰서 정보를 보여줌 넘치는건 hidden*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition-duration: 0.5s;
}

.Rtitle {
    /* result에 있는 레시피들의 이름 크기 설정 */
    font-size: 30px;
    font-weight: bolder;
    margin-top: 1vh;
    margin-bottom: 1vh;

    
}

.Rhash {
    /* 이름 밑에 있는 해시태그, 조리방법 글씨 크기 설정 */
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
/* 비건 단계 버튼에 그림자 효과 */
.vegetarianbtn :hover, .hashtagbtn>img:hover, .bookmark>img:hover {            
    filter: saturate(150%) drop-shadow(5px 5px 5px #CCCCCC);
    transition-duration: 0.5s;
    cursor: pointer;
}

/* .nav li:hover{
    background-color: var(--main-color);
    border-radius: 8px;

} */


/* 삭제예정 */
/* .menubtn{
    display: none;
    width: 24px;
    height: 24px;
    color: var(--main-color);
    position: absolute;
    right: 20px;
} */
.result, .ingredientbtn>img, .vegetarianbtn, .hashtagbtn, .bookmark{
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ingredientbtn {
    /* 재료 버튼을 감싸고 있는 큰 클래스. 배열을 위해 존재함. */
    width : 906px;
    position : relative;
    top : 3vh;
    left: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s;    
}

.vegetarianbtn {
    /* 채식 버튼을 감싸고 있는 큰 클래스. 배열을 위해 존재함. */
    width : 1150px;
    position : relative;
    top : 1.5vh;
    left : 8vw;
    display : flex;
    justify-content: space-between;
    align-items: center;
}


.hashtagbtn {
    /* 해시태그 버튼을 감싸고 있는 큰 클래스. 배열을 위해 존재함. */
    width: 1150px;
    position : relative;
    top : -2.5vh;
    left : 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.map {
    font-family: 'goldenpier', serif;
}

.page_num {
    color: black;
    margin-right: 20px;
    list-style: none;
    display : inline-block;
    cursor: pointer;
}

.bookmark {
    display: flex;
    position: relative;
    cursor : pointer;
    margin-left : 170px;
}

.like{
    font-family: 'goldenpier', serif;
    bottom: 6px;
    font-size: 25px;
    margin-top: 6px;
    margin-left: 12px;
    position: relative;
    font-weight: bold;
}

.likealign {
    margin-left: 5px;
    width : 50px;
    position: relative;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}


.numnqna {
    z-index: 1;
    width : 92.8%;
    height: 10vh;
    background-color: yellowgreen;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'goldenpier', serif;
    font-size: 25px;
}

.numbering {
    position: relative;
    display: flex;
}

.qna {
    position :relative;
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 1065px){
    .logo_img{
        position: relative;                
        display : inline;                   
    }
    .nav{
    
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 8px 24px;
    }

    .header{
        /* flex-direction: column; */
        align-items: center;
    }

    .nav li {
        padding-left: 0;
        width: 100%;
        text-align: center;    
    }
    .login{   
        flex-direction: column;     
    }
    .menubtn{
        display: block;
    }
    /* 로그인 네비바 부분이 활성화 되었을때(클릭 시) */
    .login.active,
    .nav.active{
        display: flex;
    }

}

