/*전체 선택자로 기본 세팅을 해줌*/
*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    
  

}

/* 모든 링크와 방문한 기록에 대해서 검정색으로 보여줌 */
*:link { color: black; text-decoration: none;}
*:visited { color: black; text-decoration: none;}




@font-face{
    font-family: goldenpier;
    src:url('../fonts/MapoGoldenPier.ttf');
}

@font-face{
    font-family: bombaram;
    src:url('../fonts/HSBombaram_Regular.ttf');
}

/*뒤에 배경크기와 색깔을 설정*/
/* 해당 메뉴바는 통합이 진행됐기 때문에 곧 삭제 예정입니다. 0207삭제 예정. */

/*가운데 레이아웃 크기를 결정해줌*/



.midle{
    z-index: 5;
    position : relative;
    top : -20vh;
    height : 60vh;
    display: flex; /*해당 디스플레이 플렉스 수정 */
    width: 100vw;

}


.mySlides {
    display: none;
}

.greentrans {
    position : absolute;
    background-color : #28421f;
    height : inherit;
    width : inherit;
    

}

/* Slideshow container */
.slideshow-container {
    display: inline;
  position: relative;



    width : 67vw;
    height: 75vh;


    bottom: 25vh;
}

/* Caption text */
/* .text {
     position: relative;
    bottom: 400px;
    left: 30px;
   
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: left;
    
    text-shadow: 3px 3px 2px gray;
    font-family: 'Song Myung', serif;
    font-weight: bold;
} */


/* The dots/bullets/indicators */
/* .dot {
     position: relative;
    bottom: 150px;
    left: 600px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

div > img.slideimg {
    /* 메인페이지 중앙에 위치한 슬라이드이미지 높이조정 */    
    height: 75vh;  
    
}
.active {
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*비건 설명 이동 버튼*/

.about_btn {
    z-index: 1;
    display: flex;
    position: relative;
    width: 32vw;
    height: 60vh;
    flex-direction: column;
    align-content: space-around;
    top : -15vh;
    margin-left: 4vw;
}


/*레시피 이동 버튼*/
.btn{
    width: 20vw;
    height: 5vh;
    display: inline;
    position: relative; /*나중에 다시 relative로 수정 진행할거임*/
    right: -15px;
    bottom: -15vh;
   
    /* margin-top: 13vh; */
    /* top : 63vh;
    left : 63.3vw; */
}

/*맨 아래 레이아웃 크기*/
.lat{
    position: relative;
    bottom: 25vh;
    /* height: 200px; */
    width: auto;    
    /* margin-bottom: 6vh; */
}
/*아래 슬라이드 설정*/
.visual{
    /* left : 2vw; */
    /* height: 200px; */
    /* width: 97vw; */
    position: relative;
    margin-left: 0;
}
/* 슬라이드 이미지 크기 설정 */
.link-image { 
    /* position: relative; */
    margin: 3vw;
    border: 3;
}

/* 이미지 크기 설정 */
.imgbtn{
    object-fit: cover;          
    width: 30vw;
    height: 40vh;
    
}

/* 하단 슬라이드 글씨 작업 */
.more{
    font-family: 'Song Myung', serif;
    position: absolute;
    bottom: 150%;
    z-index: 2;
    color: white;
    font-size: 18pt;
    padding-left: 10px;    
    transition: all .4s;    
}

/* 이미지 오버 되었을 때 크기 커지는 현상 방지 */
div>section>div>div>div .slick-slide >div{
    width: 30vw;
    height: 40vh;
    overflow: hidden;
    transition: all .4s;   
    border: 3;
    filter: saturate(150%) drop-shadow(7px 7px 7px #d3d3d3);

    margin-bottom: 1vh;
}

/* 마우스 클릭 시 검은 테두리 제거 */
div>section>div>div>div .slick-slide{
     outline: hidden; 
}

/* 텍스트 위치 */
div>section>div>div>div .slick-slide:hover .more{
    bottom: 50%;
}
/* 마우스 오버 효과 */
div>section>div>div>div .slick-slide:hover .imgbtn{
    filter: brightness(60%);    
    transform:scale(1.1);
    transition: all .4s;    
}
/*leaf*/
.leaf {
    z-index: 3;
    position: absolute;
}
#m1 {
    width: 15vw;
    height: 15vh;
    left: -2.5vw;
    top: 14vh;
}
#m2 {
    width: 13vw;
    height: 10vh;
    left: 88vw;
    top: 20vh;
}

#m3 {
    width: 13vw;
    height: 10vh;
    left: 85vw;
    top: 157vh;
}


@media (max-height: 900px) {
    #m1 {
        width: 15vw;
        height: 135px;
        left: -2.5vw;
        top: 126px;
    }
    #m2 {
        width: 13vw;
        height: 90px;
        left: 88vw;
        top: 180px;
    }
    #m3 {
        width: 13vw;
        height: 90px;
        left: 85vw;
        top: 1413px;
    }

    .about_btn {
        z-index: 1;
        display: flex;
        position: relative;
        width: 32vw;
        height: 540px;
        flex-direction: column;
        align-content: space-around;
        top : -135px;
        margin-left: 4vw;
    }

    .btn{
        width: 20vw;
        height: 45px;
        display: inline;
        position: relative; /*나중에 다시 relative로 수정 진행할거임*/
        
        bottom: -135px;
       
        /* margin-top: 13vh; */
        /* top : 63vh;
        left : 63.3vw; */
    }

    .lat{
        position: relative;
        bottom: 225px;
        /* height: 200px; */
        width: auto;    
        /* margin-bottom: 6vh; */
    }

    .imgbtn{
        object-fit: cover;          
        width: 30vw;
        height: 360px;
        
    }

    /* 이미지 오버 되었을 때 크기 커지는 현상 방지 */
    div>section>div>div>div .slick-slide >div{
        width: 30vw;
        height: 360px;
        overflow: hidden;
        transition: all .4s;   
        border: 3;
        filter: saturate(150%) drop-shadow(7px 7px 7px #d3d3d3);

        margin-bottom: 9px;
    }

    .slideshow-container {
        display: inline;
      position: relative;
    
    
    
        width : 67vw;
        height: 675px;
    
    
        bottom: 225px;
    }

    .midle{
        z-index: 5;
        position : relative;
        top : -180px;
        height : 540px;
        display: flex; /*해당 디스플레이 플렉스 수정 */
        width: 100vw;
    
    }

    div > img.slideimg {
        /* 메인페이지 중앙에 위치한 슬라이드이미지 높이조정 */    
        height: 675px;  
        
    }
}

@media (max-width: 1700px) {
    .about_btn {
        z-index: 1;
        display: flex;
        position: relative;
        width: 32vw;
        height: 60vh;
        flex-direction: column;
        align-content: space-around;
        top : -10vh;
        margin-left: 4vw;
    }
}

@media (max-width: 1280px) {
    #m1 {
        width: 192px;
        height: 15vh;
        left: -32px;
        top: 14vh;
    }
    #m2 {
        width: 166.4px;
        height: 10vh;
        left: 1126.4px;
        top: 20vh;
    }
    
    #m3 {
        width: 166.4px;
        height: 10vh;
        left: 1088px;
        top: 157vh;
    }

    .about_btn {
        z-index: 1;
        display: flex;
        position: relative;
        width: 409.6px;
        height: 60vh;
        flex-direction: column;
        align-content: space-around;
        top : -10vh;
        margin-left: 51.2px;
    }

    .btn{
        width: 256px;
        height: 5vh;
        display: inline;
        position: relative; /*나중에 다시 relative로 수정 진행할거임*/
    
        bottom: -15vh;
       
        /* margin-top: 13vh; */
        /* top : 63vh;
        left : 63.3vw; */
    }

    .lat{
        position: relative;
        bottom: 25vh;
        /* height: 200px; */
        width: 1263px;    
        /* margin-bottom: 6vh; */
    }

    .imgbtn{
        object-fit: cover;          
        width: 384px;
        height: 40vh;
        
    }

    /* 이미지 오버 되었을 때 크기 커지는 현상 방지 */
    div>section>div>div>div .slick-slide >div{
        width: 384px;
        height: 40vh;
        overflow: hidden;
        transition: all .4s;   
        border: 3;
        filter: saturate(150%) drop-shadow(7px 7px 7px #d3d3d3);

        margin-bottom: 1vh;
    }

    .slideshow-container {
        display: inline;
    position: relative;



        width : 857.6px;
        height: 75vh;


        bottom: 25vh;
    }

    .midle{
        z-index: 5;
        position : relative;
        top : -20vh;
        height : 60vh;
        display: flex; /*해당 디스플레이 플렉스 수정 */
        width: 1280px;
    
    }

    div > img.slideimg {
        /* 메인페이지 중앙에 위치한 슬라이드이미지 높이조정 */    
        height: 75vh;  
        
    }
}
@media (max-width: 1280px) and (max-height: 900px){

    #m1 {
        width: 192px;
        height: 135px;
        left: -32px;
        top: 126px;
    }
    #m2 {
        width: 166.4px;
        height: 90px;
        left: 1126.4px;
        top: 180px;
    }
    #m3 {
        width: 166.4px;
        height: 90px;
        left: 1088px;
        top: 1413px;
    }

    .about_btn {
        z-index: 1;
        display: flex;
        position: relative;
        width: 409.6px;
        height: 540px;
        flex-direction: column;
        align-content: space-around;
        top : -90px;
        margin-left: 51.2px;
    }

    .btn{
        width: 256px;
        height: 45px;
        display: inline;
        position: relative; /*나중에 다시 relative로 수정 진행할거임*/
    
        bottom: -135px;
       
        /* margin-top: 13vh; */
        /* top : 63vh;
        left : 63.3vw; */
    }

    .lat{
        position: relative;
        bottom: 225px;
        /* height: 200px; */
        width: 1263px;    
        /* margin-bottom: 6vh; */
    }

    .imgbtn{
        object-fit: cover;          
        width: 384px;
        height: 360px;
        
    }

    /* 이미지 오버 되었을 때 크기 커지는 현상 방지 */
    div>section>div>div>div .slick-slide >div{
        width: 384px;
        height: 360px;
        overflow: hidden;
        transition: all .4s;   
        border: 3;
        filter: saturate(150%) drop-shadow(7px 7px 7px #d3d3d3);

        margin-bottom: 9px;
    }

    .slideshow-container {
        display: inline;
      position: relative;
    
    
    
        width : 857.6px;
        height: 675px;
    
    
        bottom: 225px;
    }

    .midle{
        z-index: 5;
        position : relative;
        top : -180px;
        height : 540px;
        display: flex; /*해당 디스플레이 플렉스 수정 */
        width: 1280px;
    
    }

    div > img.slideimg {
        /* 메인페이지 중앙에 위치한 슬라이드이미지 높이조정 */    
        height: 675px;  
        
    }
}