/*전체 선택자로 기본 세팅을 해줌*/
*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    
  

}

/* 모든 링크와 방문한 기록에 대해서 검정색으로 보여줌 */
*:link { color: black; text-decoration: none;}
*:visited { color: black; text-decoration: none;}




@font-face{
    font-family: goldenpier;
    src:url('../fonts/MapoGoldenPier.ttf');
}

@font-face{
    font-family: bombaram;
    src:url('../fonts/HSBombaram_Regular.ttf');
}

/*뒤에 배경크기와 색깔을 설정*/
/* 해당 메뉴바는 통합이 진행됐기 때문에 곧 삭제 예정입니다. 0207삭제 예정. */

/*가운데 레이아웃 크기를 결정해줌*/
.midle{
    z-index: 2;
    position : relative;
    top : -20vh;
    height : 500px;
    display: flex; /*해당 디스플레이 플렉스 수정 */
    width: 50px;

}


.mySlides {
    display: none;
}

.greentrans {
    position : absolute;
    background-color : #28421f;
    height : inherit;
    width : inherit;
    

}

/* Slideshow container */
.slideshow-container {
    display: inline;
  position: relative;

    width : 67vw;
    height: 75vh;


    bottom: 27vh;
}

/* Caption text */
.text {
     position: relative;
    bottom: 400px;
    left: 30px;
   
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: left;
    
    text-shadow: 3px 3px 2px gray;
    font-family: 'Song Myung', serif;
    font-weight: bold;
}


/* The dots/bullets/indicators */
.dot {
     position: relative;
    bottom: 150px;
    left: 600px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

div > img.slideimg {
    /* 메인페이지 중앙에 위치한 슬라이드이미지 높이조정 */    
    height: 75vh;  
    
}
.active {
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*비건 설명 이동 버튼*/

.about_btn {
    display: flex;
    position: relative;
    width: 32vw;
    height: 50vh;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    top : 40vh;
    left: 60vw;

    
}

.about_vegan{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative; /*나중에 릴레이티브로 수정가능성있음 */
    margin-bottom: 10vh;
    /* top : 50vh;
    left : 64vw; */
}

.about_vegan  li{
    font-weight: bold;
     text-shadow: 3px 3px 2px gray;
    font-family: 'bombaram', serif;
    font-size: 50px;
    letter-spacing: 10px;
    /* margin-bottom: 3vh; */
    display: inline;
}

.about_vegan li a {
    color : white;
}
/*레시피 이동 버튼*/
.btn{
    width: 80%;
    /* height: 5vh; */
    /* display: inline; */
    position: relative; /*나중에 다시 relative로 수정 진행할거임*/
    /* margin-top: 13vh; */
    /* top : 63vh;
    left : 63.3vw; */
}

/*맨 아래 레이아웃 크기*/
.lat{
    /* height: 200px; */
    width: auto;    
}
/*아래 슬라이드 설정*/
.visual{
    /* left : 2vw; */
    /* height: 200px; */
    /* width: 97vw; */
    position: relative;
    top: 2vh;
    margin-left: 0;
    margin-bottom: 30px;
    overflow: hidden;         
}
/* 슬라이드 이미지 크기 설정 */
.link-image { 
    /* position: relative; */
    margin: 10px;
}

/* 이미지 크기 설정 */
.imgbtn{
    object-fit: cover;   
    object-fit: cover;    
    border: 2px;
    outline: black;
}

/* 하단 슬라이드 글씨 작업 */
.more{
    position: absolute;
    bottom: 150%;
    z-index: 2;
    color: white;
    font-size: 18pt;
    padding-left: 10px;    
    transition: all .4s;    
}

/* 이미지 오버 되었을 때 크기 커지는 현상 방지 */
div>section>div>div>div .slick-slide >div{
    width: 400px;

    height: 300px;

    overflow: hidden;
}

/* 마우스 클릭 시 검은 테두리 제거 */
div>section>div>div>div .slick-slide{
    outline: hidden;
}

/* 텍스트 위치 */
div>section>div>div>div .slick-slide:hover .more{
    bottom: 50%;
}
/* 마우스 오버 효과 */
div>section>div>div>div .slick-slide:hover .imgbtn{
    filter: brightness(60%);    
    transform:scale(1.1);
    transition: all .4s;    
}
/*leaf*/
.leaf {
    position: absolute;
}
#m1 {
    width: 15vw;
    height: 15vh;
    left: -9.5vw;
    top: 14vh;
}
#m2 {
    width: 13vw;
    height: 10vh;
    right: -1vw;
    top: 21vh;
}

#m3 {
    width: 13vw;
    height: 10vh;
    right: 2vw;
    bottom: -80vh;
}
