/* 헤더 아래에 middle이 필요해서 추가해줌 */


.middle{
    background-color : #28421f;
    position: relative;
    right:10vw;
    top : -100vh;
    display: flex;
    justify-content: center;
    width : 92vw;
    height : 70vh;
    
}