/* 헤더 아래에 middle이 필요해서 추가해줌 */

* p{
 text-indent: 5%;
 
}


.middle{
    background-color : #28421f;
    position: relative;
    right:10vw;
    top : 25vh;
    display: flex;
    justify-content: center;
    width : 92vw;
  
    
}

.middlewh{
    /* 미들 안에 있는 회색 네모 (하얀색 나중에 바꿀꺼임) */
    border-top-left-radius : 40px;
    border-bottom-right-radius:40px ;
    position : relative;
    margin-top: 3vh;
    margin-bottom: 3vh;
    left : 12vh;
    z-index: 1;
    background-color: white;
    width : 70vw;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;

    
}
.block{
    animation: fadein 0.8s;
    -moz-animation: fadein 0.8s;    
    -webkit-animation: fadein 0.8s;    
}
.contents, .subtitle {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    /* Firefox */
    -webkit-animation: fadein 1.5s;
    /* Safari and Chrome */
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein {
/* Firefox */
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
/* Safari and Chrome */
    from {opacity: 0;}
    to {opacity: 1;}
}
.vtitle {
    font-family: 'goldenpier', serif;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;    
}

.block {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'goldenpier', serif;    
    font-size: 25pt;
    text-align: center;    
    line-height: 35px;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
}
.block >div{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.subtitle{
    font-size: 20pt;
    text-align: center;
    border-radius: 15px;
    padding: 18px 20px;
    margin: 0 4vw;
    color: aliceblue;
    background: #537f46;
    transition: all .5s;    
}

.contents{
    font-size: 17pt;
    padding-top: 1vh;
}

.smalltitle{
    text-align: left;
    margin: 2vw;
    padding-top: 3vh;
}

.vcontent {
    font-family: 'goldenpier', serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    width: inherit;
    height: 200vh;

    border: none;
    resize: none;
}
.video{
    max-width: 100%;
    min-width: 80%;
    height: 38vh;
    overflow: hidden;
    /* height: auto im !important; */
}